@import "tailwindcss";

:root {
  --background: #f2f1ee;
  --foreground: #171717;
  --primary: #ff6f00;
  --gray-10: #757575;
  --gray-20: #202020;
  --gray-30: #1a1a1a;
  --gray-40: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray-10: var(--gray-10);
  --color-gray-20: var(--gray-20);
  --color-gray-30: var(--gray-30);
  --color-gray-40: var(--gray-40);
  --font-roboto: var(--font-roboto), sans-serif;
  --font-inter-tight: var(--font-inter-tight), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), sans-serif;
}

@utility wrapper {
  @apply mx-auto max-w-7xl;
}

@utility flex-center {
  @apply flex flex-row items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility glow {
  @apply pointer-events-none absolute -z-10 rounded-full bg-white/12 blur-[77px];
}

@utility glow-circle {
  @apply absolute right-0 -bottom-50 translate-x-1/2 translate-y-1/2 rounded-full;
}

@utility section-subtitle {
  @apply font-roboto text-gray-10 text-2xl;
}

@utility shadow-soft-card {
  box-shadow:
    0px 0.602187px 0.602187px -1.25px rgba(0, 0, 0, 0.18),
    0px 2.28853px 2.28853px -2.5px rgba(0, 0, 0, 0.16),
    0px 10px 10px -3.75px rgba(0, 0, 0, 0.06);
}

@layer base {
  section {
    @apply p-4 md:p-8 lg:p-16;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.7s steps(1) infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scroll-x 30s linear infinite;
  width: max-content;
}

.animate-scroll-x-reverse {
  animation: scroll-x 30s linear infinite reverse;
  width: max-content;
}
